
a {
  text-decoration: none;
  color: inherit;

}
img {
  width: 100%;
  height: auto;
}

.wrap{
margin: 30px;
}

.ttl {
  font-size: 30px;
  font-weight: bold;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}




.footer {
  padding: 20px 0;
  color: white;
  background-color: black;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}

.footer-nav-item:last-child:after {
  display: none;
}



.top-mv{
    background-image: url(img/mv.png);
    width: 100%;
    height: 400px;
}



.top-mv-main{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  color: white;

}

.top-mv-sub{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
}

.top-feature{
  color: white;
  background-color: black;
  padding: 10%;
}

.top-feature-text{
  margin-top: 20px;
}

.top-service-ttl{
  text-align: center;
}

.top-service-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-service-item{
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}

.top-service-item:nth-child(2n){
  margin-right: 0;
}

.top-service-item-ttl{
  font-weight: bold;
  font-size: 18px;
}

.top-service-item-text{
    margin-top: 20px;
}

.top-service-botan{
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.top-news{
  background-color: black;
  padding: 5%;
}

.top-news-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-news-ttl{
  color: white;
}



.top-news-list{
  margin-top: 20px;
}

.top-news-item:not(:first-child){
  margin-top: 10px;
}

.top-news-item-link{
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.top-news-item-date{
  margin-right: 10px;
}

.top-blog-ttl{
  text-align: center;
}


.top-news-botan{
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-right: 0;
}
.top-blog-list{
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    margin-top: 10px;
}


.top-blog-item{
    width: 32%;
    margin-right: calc((100% - (32% * 3)) / 2);
  }


.top-blog-botan{
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top-blog-item-date{
  margin-top: 5px;
  margin-right: 20px;
  font-size: 14px;
}

.top-blog-item-ttl{
  font-weight: bold;
  font-size: 20px;
}

.bottom-contact {
    background-color: white;
    text-align: center;
    margin-top: 50px;
    background-color:#E6E6E6 ;
    padding: 10%;
  }
  
  .bottom-contact-txt {
    margin-top: 10px;
  }

.bottom-contact-botan{
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top-company-list{
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
}

.top-company-item{
  width: 50%;
}

.top-company-link{
  background-color: red;
}

.top-recruit-link{
  background-color: black;
}

.top-company-item-link{
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
}

@media screen and (max-width: 768px){
  .top-service-item{
    width: 100%;
    margin-right: 0;
  }

  .top-news-item-link{
    padding: 10px;
    font-size: 14px;
  }

  .top-blog-item{
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {

  
  
    .header-nav {
      display: none;
    }
    .menu {
      display: inline-block;
      width: 36px;
      height: 32px;
      cursor: pointer;
      position: relative;
      left: 20px;
      top: 20px;
    }
    .menu__line--top,
    .menu__line--middle,
    .menu__line--bottom {
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: #000;
      position: absolute;
      transition: 0.5s;
    }
    .menu__line--top {
      top: 0;
    }
    .menu__line--middle {
      top: 14px;
    }
    .menu__line--bottom {
      bottom: 0;
    }
    .menu.open span:nth-of-type(1) {
      top: 14px;
      transform: rotate(45deg);
    }
    .menu.open span:nth-of-type(2) {
      opacity: 0;
    }
    .menu.open span:nth-of-type(3) {
      top: 14px;
      transform: rotate(-45deg);
    }

    .drawer-nav{
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background: white;
      transition: .7s;
    }
  
    .drawer-nav-list {
      padding-top: 80px;
      text-align: center;
    }
  
    .drawer-nav-item {
      margin-top: 40px;
      color: #0033cc;
      font-size: 18px;
    }
  
    .footer-nav-item {
      text-align: center;
      margin-top: 10px;
      width: 100%;
    }
  
    .footer-nav-item:after {
      display: none;
    }
    .top-blog-list{
        display: block;
        margin-top: 30px;
    }
    .top-blog-item-date{
        margin-top: 5%;
        text-align: left;
      }
      .top-blog-item-ttl{
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        margin-bottom: 5%;
      }
      
      
  }
  

